<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Generator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

</head>

<body>
    <div class="container">
        <div class="row">
            <form action="/" method="post">
                <div class="container" id="filter-container">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="exampleInputTone">Select tone</label>
                                <div class="dropdown tone">
                                    <select class="form-select" aria-label="Default select example" name="tone">
                                        <option value="Appreciative" {% if data is defined and
                                            data['tone']=='Appreciative' %} selected {%endif%}>Appreciative</option>
                                        <option value="Assertive" {% if data is defined and data['tone']=='Assertive' %}
                                            selected {%endif%}>Assertive</option>
                                        <option value="Awestruck" {% if data is defined and data['tone']=='Awestruck' %}
                                            selected {%endif%}>Awestruck</option>
                                        <option value="Candid" {% if data is defined and data['tone']=='Candid' %}
                                            selected {%endif%}>Candid</option>
                                        <option value="Casual" {% if data is defined and data['tone']=='Casual' %}
                                            selected {%endif%}>Casual</option>
                                        <option value="Cautionary" {% if data is defined and data['tone']=='Cautionary'
                                            %} selected {%endif%}>Cautionary</option>
                                        <option value="Compassionate" {% if data is defined and
                                            data['tone']=='Compassionate' %} selected {%endif%}>Compassionate</option>
                                        <option value="Convincing" {% if ((data is defined and
                                            data['tone']=='Convincing' ) or (data is not defined)) %} selected
                                            {%endif%}>Convincing</option>
                                        <option value="Critical" {% if data is defined and data['tone']=='Critical' %}
                                            selected {%endif%}>Critical</option>
                                        <option value="Earnest" {% if data is defined and data['tone']=='Earnest' %}
                                            selected {%endif%}>Earnest</option>
                                        <option value="Enthusiastic" {% if data is defined and
                                            data['tone']=='Enthusiastic' %} selected {%endif%}>Enthusiastic</option>
                                        <option value="Formal" {% if data is defined and data['tone']=='Formal' %}
                                            selected {%endif%}>Formal</option>
                                        <option value="Convincing" {% if data is defined and data['tone']=='Convincing'
                                            %} selected {%endif%}>Convincing</option>
                                        <option value="Funny" {% if data is defined and data['tone']=='Funny' %}
                                            selected {%endif%}>Funny</option>
                                        <option value="Humble" {% if data is defined and data['tone']=='Humble' %}
                                            selected {%endif%}>Humble</option>
                                        <option value="Humorous" {% if data is defined and data['tone']=='Humorous' %}
                                            selected {%endif%}>Humorous</option>
                                        <option value="Informative" {% if data is defined and
                                            data['tone']=='Informative' %} selected {%endif%}>Informative</option>
                                        <option value="Inspirational" {% if data is defined and
                                            data['tone']=='Inspirational' %} selected {%endif%}>Inspirational</option>
                                        <option value="Joyful" {% if data is defined and data['tone']=='Joyful' %}
                                            selected {%endif%}>Joyful</option>
                                        <option value="Passionate" {% if data is defined and data['tone']=='Passionate'
                                            %} selected {%endif%}>Passionate</option>
                                        <option value="Thoughtful" {% if data is defined and data['tone']=='Thoughtful'
                                            %} selected {%endif%}>Thoughtful</option>
                                        <option value="Urgent" {% if data is defined and data['tone']=='Urgent' %}
                                            selected {%endif%}>Urgent</option>
                                        <option value="Worried" {% if data is defined and data['tone']=='Worried' %}
                                            selected {%endif%}>Worried</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="exampleInputUseCase">Select use case</label>
                                <div class="dropdown use-case">
                                    <select title="Select your use case" class=" selectpicker form-select"
                                        onchange="addElements()" id="useCase" name="useCase">
                                        <option value="BlogIdea" {% if data is defined and data['useCase']=='BlogIdea'
                                            %} selected {%endif%}>Blog Idea & Outline</option>
                                        <!--<option value="BlogSection" {% if data is defined and data['useCase']=='BlogSection' %} selected {%endif%}>Blog Section Writing</option>-->
                                        <!--<option value="BrandName" {% if data is defined and data['useCase']=='BrandName' %} selected {%endif%}>Brand Name</option>-->
                                        <!--<option value="BusinessIdeaPitch" {% if data is defined and data['useCase']=='BusinessIdeaPitch' %} selected {%endif%}>Business Idea Pitch</option>-->
                                        <option value="BusinessIdeas" {% if data is defined and
                                             data['useCase']=='BusinessIdeas' %} selected {%endif%}>Business Ideas</option>
                                        <!--<option value="CallToAction" {% if data is defined and data['useCase']=='CallToAction' %} selected {%endif%}>Call To Action</option>-->
                                        <!--<option value="AIDA" {% if data is defined and data['useCase']=='AIDA' %} selected {%endif%}>Copywriting Framework: AIDA</option>-->
                                        <!--<option value="PAS" {% if data is defined and data['useCase']=='PAS' %} selected {%endif%}>Copywriting Framework: PAS</option>-->
                                        <option value="CoverLetter" {% if data is defined and
                                            data['useCase']=='CoverLetter' %} selected {%endif%}>Cover Letter</option>
                                        <option value="Email" {% if ((data is defined and data['useCase']=='Email' ) or
                                            (data is not defined)) %} selected {%endif%}>Email</option>
                                        <option value="Facebook" {% if data is defined and data['useCase']=='Facebook'
                                            %} selected {%endif%}>Facebook, Twitter, LinkedIn Ads</option>
                                        <!--<option value="GoogleAd" {% if data is defined and data['useCase']=='GoogleAd' %} selected {%endif%}>Google Search Ads</option>-->
                                        <option value="InterviewQuestions" {% if data is defined and
                                            data['useCase']=='InterviewQuestions' %} selected {%endif%}>Interview
                                            Questions</option>
                                        <option value="JobDescription" {% if data is defined and
                                            data['useCase']=='JobDescription' %} selected {%endif%}>Job Description
                                        </option>
                                        <!--<option value="KeywordsExtractor" {% if data is defined and data['useCase']=='KeywordsExtractor' %} selected {%endif%}>Keywords Extractor</option>-->
                                        <option value="KeywordsGenerator" {% if data is defined and
                                            data['useCase']=='KeywordsGenerator' %} selected {%endif%}>Keywords
                                            Generator</option>
                                        <!--<option value="LandingPage" {% if data is defined and data['useCase']=='LandingPage' %} selected {%endif%}>Landing Page & Website Copies</option>-->
                                        <!--<option value="MagicCommand" {% if data is defined and data['useCase']=='MagicCommand' %} selected {%endif%}>Magic Command</option>-->
                                        <!--<option value="Post" {% if data is defined and data['useCase']=='Post' %} selected {%endif%}>Post & Caption Ideas</option>-->
                                        <!--<option value="ProductDescription" {% if data is defined and data['useCase']=='ProductDescription' %} selected {%endif%}>Product Description</option>-->
                                        <!--<option value="ProductDescriptionBullet" {% if data is defined and data['useCase']=='ProductDescriptionBullet' %} selected {%endif%}>Product Description (bullet points)</option>-->
                                        <!--<option value="ProfileBio" {% if data is defined and data['useCase']=='ProfileBio' %} selected {%endif%}>Profile Bio</option>-->
                                        <option value="QuestionAnswer" {% if data is defined and
                                            data['useCase']=='QuestionAnswer' %} selected {%endif%}>Question & Answer
                                        </option>
                                        <!--<option value="ReplyToReviews" {% if data is defined and data['useCase']=='ReplyToReviews' %} selected {%endif%}>Reply to Reviews & Messages</option>-->
                                        <!--<option value="SEODescription" {% if data is defined and data['useCase']=='SEODescription' %} selected {%endif%}>SEO Meta Description</option>-->
                                        <!--<option value="SEOTitle" {% if data is defined and data['useCase']=='SEOTitle' %} selected {%endif%}>SEO Meta Title</option>-->
                                        <option value="SMS" {% if data is defined and data['useCase']=='SMS' %} selected
                                            {%endif%}>SMS & Notifications</option>ß
                                        <option value="Song" {% if data is defined and data['useCase']=='Song' %}
                                            selected {%endif%}>Song Lyrics</option>
                                        <option value="Story" {% if data is defined and data['useCase']=='Story' %}
                                            selected {%endif%}>Story Plot</option>
                                        <option value="Tagline" {% if data is defined and data['useCase']=='Tagline' %}
                                            selected {%endif%}>Tagline & Headline</option>
                                        <option value="Testimonial" {% if data is defined and
                                            data['useCase']=='Testimonial' %} selected {%endif%}>Testimonial & Review
                                        </option>
                                        <option value="VideoChannelDescription" {% if data is defined and
                                            data['useCase']=='VideoChannelDescription' %} selected {%endif%}>Video
                                            Channel Description</option>
                                        <!--<option value="VideoDescription" {% if data is defined and data['useCase']=='VideoDescription' %} selected {%endif%}>Video Description</option>-->
                                        <!--<option value="VideoIdea" {% if data is defined and data['useCase']=='VideoIdea' %} selected {%endif%}>Video Idea</option>-->
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3">

                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-primary form-control submit-btn">Submit</button>
                    </div>
                    <div class="col-3">

                    </div>

                </div>
            </form>
        </div>

        <div class="row">

            <div class="form-group">
                {{ ckeditor.load() }}
                {{ ckeditor.create(value=result) }}
            </div>
        </div>

    </div>>

    <script>
        function handleOnLoad() {
            addElements();
            var useCase = document.getElementById("useCase").value;
            if (useCase == "Email") {
                var keyPoints = document.getElementById("keyPoints");
                keyPoints.value = "{% if data is defined %} {{data['keyPoints']}} {% else %} {{''}} {%endif%}";
            }
            else if (useCase == "SMS") {
                var context = document.getElementById("context");
                context.value = "{% if data is defined %} {{data['context']}} {% else %} {{''}} {%endif%}";
            }
            else if (useCase == "Song") {
                var idea = document.getElementById("idea");
                idea.value = "{% if data is defined %} {{data['idea']}} {% else %} {{''}} {%endif%}";
            }
            else if (useCase == "Story") {
                var idea = document.getElementById("idea");
                idea.value = "{% if data is defined %} {{data['idea']}} {% else %} {{''}} {%endif%}";
            }
            else if (useCase == "Facebook") {
                var productName = document.getElementById("productName");
                productName.value = "{% if data is defined %} {{data['productName']}} {% else %} {{''}} {%endif%}";
                var productDescription = document.getElementById("productDescription");
                productDescription.value = "{% if data is defined %} {{data['productDescription']}} {% else %} {{''}} {%endif%}";
            }
            else if (useCase == "CoveLetter") {
                var jobRole = document.getElementById("jobRole");
                jobRole.value = "{% if data is defined %} {{data['jobRole']}} {% else %} {{''}} {%endif%}";
                var jobSkills = document.getElementById("jobSkills");
                jobSkills.value = "{% if data is defined %} {{data['jobSkills']}} {% else %} {{''}} {%endif%}";
            }
            else if (useCase == "VideoChannelDescription") {
                var category = document.getElementById("category");
                category.value = "{% if data is defined %} {{data['category']}} {% else %} {{''}} {%endif%}";
                var name = document.getElementById("name");
                name.value = "{% if data is defined %} {{data['name']}} {% else %} {{''}} {%endif%}";
                var cover = document.getElementById("cover");
                cover.value = "{% if data is defined %} {{data['cover']}} {% else %} {{''}} {%endif%}";
            }
            else if (useCase == "BlogIdea") {
                var primaryKeyword = document.getElementById("primaryKeyword");
                primaryKeyword.value = "{% if data is defined %} {{data['primaryKeyword']}} {% else %} {{''}} {%endif%}";
            }
            else if (useCase == "InterviewQuestions") {
                var intervieweeBio = document.getElementById("intervieweeBio");
                intervieweeBio.value = "{% if data is defined %} {{data['intervieweeBio']}} {% else %} {{''}} {%endif%}";
                var interviewContext = document.getElementById("interviewContext");
                interviewContext.value = "{% if data is defined %} {{data['interviewContext']}} {% else %} {{''}} {%endif%}";
            }
            else if (useCase == "JobDescription") {
                var role = document.getElementById("role");
                role.value = "{% if data is defined %} {{data['role']}} {% else %} {{''}} {%endif%}";
            }
            else if (useCase == "Tagline") {
                var description = document.getElementById("description");
                description.value = "{% if data is defined %} {{data['description']}} {% else %} {{''}} {%endif%}";
            }
            else if (useCase == "Testimonial") {
                var name = document.getElementById("name");
                name.value = "{% if data is defined %} {{data['name']}} {% else %} {{''}} {%endif%}";
                var reviewTitle = document.getElementById("reviewTitle");
                reviewTitle.value = "{% if data is defined %} {{data['reviewTitle']}} {% else %} {{''}} {%endif%}";
            }
            else if (useCase == "QuestionAnswer") {
                var description = document.getElementById("description");
                description.value = "{% if data is defined %} {{data['description']}} {% else %} {{''}} {%endif%}";
            }
            else if (useCase == "KeywordsGenerator") {
                var primaryKeyword = document.getElementById("primaryKeyword");
                primaryKeyword.value = "{% if data is defined %} {{data['primaryKeyword']}} {% else %} {{''}} {%endif%}";
            }
            else if (useCase == "BusinessIdeas") {
                var interest = document.getElementById("interest");
                interest.value = "{% if data is defined %} {{data['interest']}} {% else %} {{''}} {%endif%}";
                var skills = document.getElementById("skills");
                skills.value = "{% if data is defined %} {{data['skills']}} {% else %} {{''}} {%endif%}";
            }

        }
    </script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>